.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}


.App-logo {
  height: 100px;
  pointer-events: none;
}